<!--<div (mousemove)="actionEvent($event)">-->
  <div #elementDiv>
    <!-- cogemos elemento de referencia para aplicarlo mediante NgZone fuera de la parte de Angular -->
    <p class="name-component">AppComponent</p>
    <div>
      <p>
      Angular por defecto para cualquier evento activa el mecanismo de detección
      de cambios.
      </p>
      En este ejemplo, estamos lanzando el evento mousemove con el NgZone para
      evitar que se active el mecanismo de detección de cambios cada vez que
      movemos el ratón estando posicionado por encima del componente App Component
      (pintado de verde), por lo que se puede ver se muestra contantemente el
      mensaje de $event mouse move (AppComponent), pero no el de renderizado en la
      consola $renderizado HelloComponent o el de $renderizado AppComponent que
      dichos mensaje salen cuando se está renderizando la vista.
      <p>
      Con esto evitamos que continuamente con el movimiento del ratón renderice de
      manera continua la pantalla AppComponent (cuando mueves el ratón estando en
      la modal de app component) y resto de pantalla (por defecto Angular tiene
      changeDetectionStrategy en default) por lo que también se renderizaría el
      componente AppComponent si no se hubiese incluido en la zona dicho evento.
      </p>
      <p>
      En este ejemplo al darle al botón bien del componente HelloComponent (el del
      fondo blanco) o AppComponent (el del fondo verde) por consola veremos que se
      renderiza ambos componentes, se puede ver por que después de darle el click
      a cualquiera de los dos botones se visualizan los siguientes mensajes. 
      </p>
        Ej:
        <ul>
          <li>$renderizado AppComponent</li>
          <li>$renderizado HelloComponent</li>
        </ul>
      <p>
        Esto es por que
        Angular por defecto aplica el cambio de estrategias por defecto
        ChangeDetectionStrategy.default, esto se puede cambiar configurando
        correctamente con la estrategía Onpush ej anotación: changeDetection:
        ChangeDetectionStrategy.OnPush.
      </p>
    </div>
    <app-hello></app-hello>
    <div [title]="title">
      <button (click)="actionEventClick()">
        Button {{ title }}
        <!-- app component-->
      </button>
    </div>
  </div>
  {{ chivatoRender() }}
  